body {background-image: url('http://2.bp.blogspot.com/-OCaUlI5CJlI/T2B0a1m1qZI/AAAAAAAAAKQ/4NpkE6nFWD0/s1600/free+natural+wallpapers+%289%29.jpg'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.enter {color: white;}

div.para {text-align: center;
	  color: white;
}

h1 {color: white;}

h2 {color:yellow;}

h3 {font-family: sans serif; color: #FFFFFF}

/*unvisited link*/
a:link {color: yellow;}

/*visited link*/
a:visited {color: black;}

a:hover {background-color: black;}

div.img {
    margin: 5px;
    float: left;
    width: 180px;
}

.img-responsive {width:15%
	height: auto
}

div.desc {
    padding: 10px;
    text-align: left;
	color: white;
	font-size: 12px;
	font-family: arial;
}
